@import '../../styles/colors';
// h2 {
//   text-transform: capitalize;
// }

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
}

/* Adds scrollbar when the content in .scrollbar is too long to fit in page */
.scrollbar {
  overflow: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  // padding-left: 20px;
}

@media screen and (max-width: 640px) {
  .scrollbar {
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  // background-color: black;
  background-color: $light-gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9a9a9a;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}