@import '../../styles/theme';

/* ======== Carousel controls and indicators ======== */

.carousel-control-next,
.carousel-control-prev {
  height: 90px;
  margin: auto;
  visibility: hidden;
}

// Displays carousel controls when you hover over or touch (touchscreen) a carousel
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  visibility: visible;
}

.carousel-indicators [data-bs-target] {
  text-indent: 0;
}

.carousel-indicators button {
  margin: 0 5px;
  background-color: transparent !important; // hides original indicator
}

.carousel-indicators button::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  $darkThemeLabel: 'e3e3e3';

  button[aria-label] {
    background-size: contain;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }

  button[aria-label='front'] {
    background-image: url('https://img.icons8.com/material-outlined/24/home--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/home--v2.png');
    }
  }

  button[aria-label='specs'] {
    background-image: url('https://img.icons8.com/material-outlined/24/clipboard.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/clipboard.png');
    }
  }

  button[aria-label='display'] {
    background-image: url('https://img.icons8.com/material-outlined/24/iphone--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/iphone--v2.png');
    }
  }

  button[aria-label='build'] {
    background-image: url('https://img.icons8.com/material-outlined/24/wrench--v1.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/wrench--v1.png');
    }
  }

  button[aria-label='features'] {
    background-image: url('https://img.icons8.com/material-outlined/24/features-list.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/features-list.png');
    }
  }

  button[aria-label='cameras'] {
    background-image: url('https://img.icons8.com/material-outlined/24/camera--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/camera--v2.png');
    }
  }

  button[aria-label='camera-features'] {
    background-image: url('https://img.icons8.com/material-outlined/24/camera--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/camera--v2.png');
    }
  }

  button[aria-label='camera-pros-cons'] {
    background-image: url('https://img.icons8.com/material-outlined/24/camera--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/camera--v2.png');
    }
  }

  button[aria-label='pros-cons'] {
    background-image: url('https://img.icons8.com/material-outlined/24/ok--v1.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/ok--v1.png');
    }
  }

  button[aria-label='approbations'] {
    background-image: url('https://img.icons8.com/material-outlined/24/prize.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/prize.png');
    }
  }

  button[aria-label='price'] {
    background-image: url('https://img.icons8.com/material-outlined/24/price-tag-usd.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/price-tag-usd.png');
    }
  }

  button[aria-label='ai'] {
    background-image: url('https://img.icons8.com/material-outlined/24/bard--v2.png');

    @media (prefers-color-scheme: dark) {
      background-image: url('https://img.icons8.com/material-outlined/24/#{$darkThemeLabel}/bard--v2.png');
    }
  }
}