@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/default.styles';
@import '../../styles/mixins';

.mini-carousel {
  background-size: 100% 100%;
  background-color: $carouselBg;
  padding: 0 25px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0px 1px $boxShadowColor, 0 1px 2px $boxShadowColor;
  -webkit-box-shadow: 0 0px 1px $boxShadowColor, 0 1px 2px $boxShadowColor;
  height: 430px;
  max-width: 369px;
  font-size: 1rem;

  @media screen and (max-width: 640px) {
    margin-bottom: 5px; // vertical spacing for mobile view
  }

  & h2,
  & h5 {
    padding: 10px;
  }

  & h3 {
    margin-top: 20px;
  }

  & .img__container {
    background-color: $surfaceBg;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: auto auto;
  }

  & img {
    height: 202px;
    width: 189px;
    filter: drop-shadow(1px 1px 5px $dropShadow);
  }

  & span {
    color: $secondaryText;
    font-weight: 600;

    @include cameraData;
  }


  /* ================ FIRST SLIDE ================ */

  .first-slide {
    .scrollable {
      max-height: 400px;
      /* Firefox */
      scrollbar-width: none;
      /* Internet Explorer 10+ */
      -ms-overflow-style: none;

      /* WebKit */
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  /* ================ SPECS ================ */

  .specs-slide {
    .scrollable {
      max-height: 319px;
    }
  }

  /* ================ DISPLAY ================ */

  .display-slide {
    .scrollable {
      max-height: 319px;
    }
  }

  .display {
    h5 {
      padding: 0;
    }
  }

  /* ================ BUILD ================ */

  .build-slide {
    display: flex;
    flex-direction: column;
    max-height: 320px;

    h4 {
      margin-top: 5px;
    }

    .surface {
      margin: 5px 10px;
    }

    .colors {
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  .build {
    @include p-margin-even;
    @include texture;
  }

  .display p,
  .build p {
    padding: 0 10px;
  }

  /* ================ PRO AND CONS ================ */

  .pros-and-cons-container {
    margin-top: 10px;
  }

  /* ================ PRICES ================ */

  .prices-slide {
    .btn {
      color: #fff;
      background-color: $theme-blue;
      border: none;
      margin-top: 7px;
    }

    .btn:hover {
      background-color: darken($theme-blue, 15%);
    }
  }
}
