@import '../../styles/colors';
@import '../../styles/default.styles';

.wide-phone-carousel {
  border-bottom: 2px solid black;
}

.wide-phone-carousel .img-container,
.wide-carousel {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  -webkit-box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.img-container {
  display: flex;
  align-items: center;

  & .img {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
}

.wide-carousel {
  @include texture;
  width: 100%;
  height: 455px;

  h2 {
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    margin-top: 10px;
  }

  h3,
  h5,
  h6 {
    text-align: center;
  }

  span {
    color: black;
    font-weight: 500;
  }

  .phone-colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: $margin auto;
    width: 85%;
  }

  #colors-title {
    margin-right: 7px;
    font-weight: 600;
  }

  .color {
    padding: 10px;
    margin: 0 20px 10px 7px;
  }

  .prices {
    max-width: 260px;
    text-align: center;
    margin: auto auto;
    font-weight: 400;
    font-size: 13px;
  }

  .wide-first-slide {
    h3 {
      margin-top: 10px;
    }
  }

  .specs-slide {
    text-align: center;
    padding: 0 84px;

    p {
      margin: 0;
    }
  }

  .display {
    text-align: center;
  }

  .features-slide,
  .camera-features {
    .scrollable ul {
      max-height: 285px;
    }
  }

  .foldable {
    font-weight: 400;
  }

  .wide-slide {
    padding: 0 64px;
  }

  .cameras-slide {
    text-align: center;
  }

  .display,
  .pros-and-cons-bubble {
    padding: 10px 20px;
  }

  .pros-and-cons-bubble h4 {
    text-align: center;
    margin-top: 0;
  }

  .pros-and-cons-bubble .scrollable ul {
    max-height: 100px; // 105px
  }
}

@media screen and (max-width: 900px) {
  .wide-carousel .wide-slide {
    padding: 0 20px;
  }

  .wide-first-slide {
    height: 340px;
    overflow-y: auto;
  }
}
