@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/default.styles';
@import '../../styles/mixins';

.phone-row--wide {
  border-bottom: 2px solid black;
}

.phone-row--wide .img__container,
.carousel--wide {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  -webkit-box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.img__container {
  display: flex;
  align-items: center;

  & .img {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px $dropShadow);
  }
}

.carousel--wide {
  @include texture;
  width: 100%;
  height: 455px;

  h2 {
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    margin-top: 10px;
  }

  h3,
  h5,
  h6 {
    text-align: center;
  }

  span {
    color: $secondaryText;
    font-weight: 500;

    @include cameraData;
  }

  .phones-colors__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: $margin auto;
    width: 85%;
  }

  #phone-colors-title {
    margin-right: 7px;
    font-weight: 600;
  }

  .phone-color-item {
    padding: 10px;
    margin: 0 20px 10px 7px;
  }

  .prices__container {
    max-width: 260px;
    text-align: center;
    margin: auto auto;
    font-weight: 400;
    font-size: 13px;
  }

  .first-slide--wide {
    h3 {
      margin-top: 10px;
    }
  }

  .specs-slide {
    text-align: center;
    padding: 0 84px;

    p {
      margin: 0;
    }
  }

  .display__container {
    text-align: center;
  }

  .features-slide,
  .camera-features-slide {
    .scrollable ul {
      max-height: 285px;
    }
  }

  .foldable {
    font-weight: 400;
  }

  .slide--wide {
    padding: 0 64px;
  }

  .cameras-slide {
    text-align: center;
  }

  .display,
  .pc-surface__container {
    padding: 10px 20px;
  }

  .pc-surface__container h4 {
    text-align: center;
    margin-top: 0;
  }

  .pc-surface__container .scrollable ul {
    max-height: 100px; // 105px
  }
}

@media screen and (max-width: 900px) {
  .carousel--wide .slide--wide {
    padding: 0 20px;
  }

  .first-slide--wide {
    height: 340px;
    overflow-y: auto;
  }
}