@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/default.styles';

.modal {
  .modal-content {
    background-color: $mainBackgroundColor;
  }

  .modal-header {
    color: $secondaryText;
    display: block;
    position: relative;
    border-bottom-color: $secondaryBorder;

    .btn-close {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 18px;
      margin-right: 10px;

      @media (prefers-color-scheme: dark) {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
  }

  .modal-title {
    text-transform: capitalize;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
  }

  .ul-container {
    background-color: $surfaceBg;
    color: $secondaryText;
    padding: 20px 30px;
    border-radius: $borderRadius;
    overflow-y: auto;

    ul {
      max-height: 75vh;
    }
  }

  li {
    padding: 4px;
  }

  a {
    color: $note;
    font-size: 0.8rem;
    display: inline;
    text-decoration: none;

    &:hover {
      color: darken($note, 15%);
      font-weight: 500;
    }
  }

  .side-note {
    @include side-note;
  }
}
