@import '../../styles/colors';
@import '../../styles/default.styles';

.modal {
  .modal-header {
    display: block;
    position: relative;

    .btn-close {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 18px;
      margin-right: 10px;
    }
  }

  .modal-title {
    text-transform: capitalize;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
  }

  .ul-container {
    background-color: $very-light-gray;
    padding: 20px 30px;
    border-radius: $borderRadius;
    overflow-y: auto;

    ul {
      // max-height: 500px;
      max-height: 75vh;
    }
  }

  li {
    padding: 4px;
  }

  a {
    color: $note;
    font-size: 0.8rem;
    display: inline;
    text-decoration: none;
    // font-style: italic;

    &:hover {
      color: darken($note, 15%);
      font-weight: 500;
    }
  }

  .side-note {
    @include side-note;
  }
}