@import '../../../styles/colors';
@import '../../../styles/default.styles';

.features-modal {
  max-width: 700px;
}

.features-modal__main {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  span {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .features-modal__main {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}