@import '../../styles/colors';
@import '../../styles/default.styles';
@import '../../styles/mixins';
@import '../../styles/theme';

.compare-phone__container {
  $boldFont: 500;
  $regularFont: 400;

  .img__container {
    display: flex;
    justify-content: center;

    img {
      max-height: 500px;
      max-width: 100%;
    }
  }

  .release__container {
    display: flex;
    justify-content: center;

    span {
      color: $secondaryText;
      // color: #000;
      font-weight: $boldFont;
    }
  }

  .accordion-body {
    padding-top: 0 !important;
    @include p-margin-even;

    .accordion {
      padding: $margin;
    }

    .accordion-header {
      button {
        background-color: $surfaceBg;
        // background-color: $very-light-gray;
      }
    }

    a {
      color: $note;
      font-size: 0.8rem;
      display: inline;
      text-decoration: none;

      &:hover {
        color: darken($note, 15%);
        font-weight: 500;
      }
    }

    .side-note {
      @include side-note;
    }
  }

  .no-data {
    padding: $margin;
    color: #6a737d;
  }

  .list-group-item {
    padding: 5px;
    background-color: $mainBackgroundColor;
    color: $textColor;
    border-color: $borderColor;
  }

  .list-item {
    padding: $margin 15px;
    background-color: $mainBackgroundColor;
    color: $textColor;
  }

  .item-title {
    color: $secondaryText;
    // color: #000;
    font-weight: $boldFont;
  }

  .color-sqr {
    width: 25%;
    border-radius: $borderRadiusSmall;
  }

  .ddBtn,
  .feature-check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: $margin;
    background-color: $mainBackgroundColor;
    color: $textColor;

    &>* {
      margin: 0 5px;
    }
  }

  .light-gray-bg {
    margin: 15px auto;
    background-color: $surfaceBg;
    // background-color: $very-light-gray;
    border-radius: $borderRadius;

    .data {
      color: $bootstrap-blue;
    }

    .item-title,
    .data {
      font-size: 0.9rem;
    }
  }

  /* ========= Buy link ========== */

  @mixin buyLink {
    border: 1px solid #dee2e6; // bootstrap --bs-border-color
    background-color: #fff;
  }

  .buy-link {
    display: block !important;
    text-align: center;

    &:visited {
      @include buyLink();
    }
  }

  .buy-link.active {
    @include buyLink();
  }

  /* ========= Camera Compare ========== */

  .camera-details {
    border-bottom: 4px $light-gray solid;
  }

  @include cameraData;

  .data {
    .badge.blue {
      background-color: #1589FF;
    }

    .badge.black {
      background-color: #424242;
    }
  }
}
