$theme-blue: #3992ff;
$bootstrap-blue: #0d6efd;
$very-light-gray: #f7f7f7;
$light-gray: #f0f0f0;
$yellow: #ffce00;
$gray-text: #777;
$note: $theme-blue;
$off-black: #424242;
$off-white: #e3e3e3;
$orange: #ff6a00;
$orange-header: #ff710d;
$white: #fff;

/* LIGHT */
$lightThemeBg: $white;
$lightText: #212529;
$secondaryLightText: #000; // carousel row text
$offBlack: $off-black;
$lightSurfaceBg: $very-light-gray; // #f8f9fa;
$lightScrollbarTrack: $light-gray;
$lightScrollbarThumb: #9a9a9a;
$lightScrollbarThumbHover: #aaa;
$lightToggleBg: $white;
$lightBorder: rgba(0, 0, 0, 0.6);
$lightSecondaryBorder: #dee2e6;
$lightBoxShadow: rgba(0, 0, 0, 0.2);
$lightToggleBorder: rgba(0, 0, 0, .25);
$lightSectionBg: $light-gray;
$lightNavLink: rgba(0, 0, 0, .55);
$lightActiveNavLink: rgba(0, 0, 0, .9);
$lightNavbarBrand: rgba(0, 0, 0, .9);
$lightCarouselBg: $white;
$lightFooterText: rgb(66, 66, 66);
$lightDropShadow: rgba(0, 0, 0, 0.4);
$lightPopover: #e5effc;
$lightBtnBg: #f8f9fa;
$lightBtnHover: #d3d4d5;
$lightBtnBorder: #c6c7c8;

/* DARK */
$darkThemeBg: #1b1b1d; // #23272f; // rgb(33, 37, 41);
$darkText: $off-white;
$secondaryDarkText: $off-white;
$offWhite: $off-white;
$darkSurfaceBg: rgb(33, 37, 41); // #242526; // #1b1b1d;
$darkScrollbarTrack: #222222; // #686868;
$darkScrollbarThumb: #444;
$darkScrollbarThumbHover: #7a7a7a;
$darkToggleBg: #808080; // #535353; // #686868;
$darkBorder: rgba(100, 100, 100, 0.6);
$darkSecondaryBorder: rgb(50, 50, 50);
$darkBoxShadow: #474c57;
$darkToggleBorder: rgb(100, 100, 100);
$darkSectionBg: #121213; // #1b1b1d;
$darkNavLink: #aaa;
$darkActiveNavLink: #fff;
$darkNavbarBrand: #fff;
$darkCarouselBg: #121213;
$darkFooterText: rgb(150, 150, 150);
$darkDropShadow: rgba(50, 50, 50, 0.4);
$darkPopover: rgb(33, 37, 41);
$darkBtnBg: rgb(33, 37, 41); // #444;
$darkBtnHover: #222222;
$darkBtnBorder: #1b1b1d;