$theme-blue: #3992ff;
$bootstrap-blue: #0d6efd;
$very-light-gray: #f7f7f7;
$light-gray: #f0f0f0;
$yellow: #ffce00;
$gray-text: #777;
$note: $theme-blue;
$offBlack: #424242;
$orange: #ff6a00;
// $theme-orange: #FF5733;
// $orange: rgb(255, 105, 71);