$margin: 10px;
$borderRadius: 10px;
$borderRadiusSmall: 8px;
$p-margin-v-small: 5px 0;

@mixin largeText {
  font-size: larger;
}

@mixin side-note {
  font-size: small;
  font-style: italic;
  display: inline;
  color: $gray-text;
}

@mixin texture {
  .build-texture-text {
    color: $gray-text;
    font-size: small;
    font-weight: 500;
  }
}

@mixin p-margin-even {
  p {
    margin: 7px 0; // 5px 0
  }
}