@import 'colors';
@import 'theme';
@import 'default.styles';

$boldFont: 500;
$regularFont: 400;

/* ========= Camera ========== */
@mixin cameraData {
  .data-text {
    color: $orange;
    font-weight: $boldFont;
    align-items: center;
    flex-wrap: wrap;

    .data-text--gray {
      color: $gray-text;
      font-weight: $regularFont;
      font-size: small;
    }

    .data-text--orange {
      color: $orange;
      font-weight: $boldFont;
      font-size: small;
    }
  }

  /* ====== Text colors ====== */
  .data-text--black {
    color: $offColor;
    margin-left: 5px;
    font-weight: $regularFont;
    font-size: 0.9rem;
  }

  /* optical zoom */
  &.orange {
    color: $orange;
    font-weight: 400;
  }
}