/* Phone colors */

// pixels
.stormy-black {
  background-color: #3c4043;
}
.cloudy-white {
  background-color: #E1D6CC;
}
.sorta-sunny {
  background-color: #FFD6AD;
}
.kinda-coral {
  background-color: #FDB3AF;
}
.sorta-seafoam {
  background-color: #CCE0DE;
}
.charcoal {
  background-color: #4E4F51;
}
.chalk {
  background-color: #CCCCCC;
}
.sage {
  background-color: #9FBCA6;
}
.alpine-green {
  background-color: #576856;
}
.sierra-blue {
  background-color: #a7c1d9;
}

// iphones
.silver {
  background-color: #f1f2ed;
}
.gold {
  background-color: #fae7cf;
}
.graphite {
  background-color: #54524f;
}
.iphone-green {
  background-color: #394c38;
}
.pink {
  background-color: #faddd7;
}
.blue {
  background-color: #276787;
}
.midnight {
  background-color: #232a31;
}
.starlight {
  background-color: #faf6f2;
}
.product-red {
  background-color: #bf0013;
}

// Samsung
.phantom-black {
  background-color: rgb(33, 30, 22);
}

.phantom-white {
  background-color: rgb(233, 233, 231);
}

.samsung-red {
  background-color: #BD503B;
}

.burgundy {
  background-color: rgb(101, 77, 87);
}

.bora-purple {
  background-color: rgb(178, 161, 205);
}

.sky-blue {
  background-color: #CBDFF8;
}

.pink-gold {
  background-color: rgb(241, 207, 196);
}

.samsung-green {
  background-color: rgb(95, 100, 90);
}

.samsung-graphite {
  background-color: #777A7F;
}