/* Phone colors */

// pixels
.stormy-black {
  background-color: #3c4043;
}
.cloudy-white {
  background-color: #E1D6CC;
}
.sorta-sunny {
  background-color: #FFD6AD;
}
.kinda-coral {
  background-color: #FDB3AF;
}
.sorta-seafoam {
  background-color: #CCE0DE;
}
.mostly-black {
  background-color: #303A39;
}
.charcoal {
  background-color: #4E4F51;
}
.chalk {
  background-color: #CCCCCC;
}
.sage {
  background-color: #9FBCA6;
}
.alpine-green {
  background-color: #576856;
}
.sierra-blue {
  background-color: #a7c1d9;
}
.just-black {
  background-color: #333534;
}
.sorta-sage {
  background-color: #9DB2AB;
}
.clearly-white {
  background-color: #ECEDF1;
}
.oh-so-orange {
  background-color: #E17B65;
}
.barely-blue {
  background-color: #D1E6F9;
}
.not-pink {
  background-color: #EFE4E0;
}
.purple-ish {
  background-color: #DBDEEF;
}

// iphones
.silver {
  background-color: #f1f2ed;
}
.gold {
  background-color: #fae7cf;
}
.apple-graphite {
  background-color: #54524f;
}
.apple-black {
  background-color: #322F38;
}
.apple-white {
  background-color: #F7F3F0;
}
.apple-green {
  background-color: #394c38;
}
.apple-light-green {
  background-color: #DAF0D9;
}
.apple-pink {
  background-color: #faddd7;
}
.apple-blue {
  background-color: #276787;
}
.apple-purple {
  background-color: #BBB2E7;
}
.apple-yellow {
  background-color: #FFE681;
}
.midnight {
  background-color: #232a31;
}
.starlight {
  background-color: #faf6f2;
}
.product-red {
  background-color: #bf0013;
}
.pacific-blue {
  background-color: #385865;
}

// Samsung
.phantom-black {
  background-color: rgb(33, 30, 22);
}
.phantom-white {
  background-color: rgb(233, 233, 231);
}
.phantom-gray {
  background-color: #45464B;
}
.phantom-pink {
  background-color: #EDC0BB;
}
.phantom-gold {
  background-color: rgb(246, 216, 193);
}
.phantom-violet {
  background-color: #9793B6;
}
.phantom-silver {
  background-color: #c2c9d5;
}
.phantom-red {
  background-color: rgb(171, 39, 52);
}
.phantom-brown {
  background-color: #5f4e4b;
}
.phantom-titanium {
  background-color: #6e7074;
}
.phantom-navy {
  background-color: #3a414a;
}
.samsung-red {
  background-color: #BD503B;
}
.burgundy {
  background-color: rgb(101, 77, 87);
}
.bora-purple {
  background-color: rgb(178, 161, 205);
}
.sky-blue {
  background-color: #CBDFF8;
}
.pink-gold {
  background-color: rgb(241, 207, 196);
}
.samsung-green {
  background-color: rgb(95, 100, 90);
}
.samsung-graphite {
  background-color: rgb(110, 112, 116);
}
.cream {
  background-color: #EFE6C5;
}
.samsung-violet {
  background-color: #E3DAED;
}
.olive {
  background-color: #B6B69C;
}
.samsung-lavender {
  background-color: #C1B8C9;
}
.samsung-white {
  background-color: #F4F4F4;
}
.cosmic-gray {
  background-color: #5e6366;
}
.cosmic-black {
  background-color: #2d2926;
}
.cosmic-white {
  background-color: #fbfaf8;
}
.cloud-navy {
  background-color: #485167;
}
.cloud-mint {
  background-color: #b6cfcf;
}
.cloud-lavender {
  background-color: #dfcce7;
}
.cloud-red {
  background-color: #b73438;
}
.cloud-orange {
  background-color: #f4c19b;
}
.cloud-blue {
  background-color: #a4c8e1;
}
.cloud-pink {
  background-color: #dbabba;
}
.cloud-white {
  background-color: #f0f0f1;
}
.aura-blue {
  background-color: #03257e;
}
.prism-black {
  background-color: #0E0E0E;
}
.prism-blue {
  background-color: #446F9A;
}
.prism-green {
  background-color: #417277;
}
.prism-white {
  background-color: #D1DBE4;
}
.flamingo-pink {
  background-color: #FF806D;
}
.ceramic-black {
  background-color: #231F1E;
}
.ceramic-white {
  background-color: #E9E5E4;
}
.canary-yellow {
  background-color: #E6E026;
}
.midnight-black {
  background-color: #010101;
}
.coral-blue {
  background-color: #64728F;
}
.polaris-blue {
  background-color: #678ea7;
}
.sunrise-gold {
  background-color: #CCA28C;
}
.lilac-purple {
  background-color: #9D789A;
}
.burgundy-red {
  background-color: #450C15;
}
.titanium-grey {
  background-color: #52514F;
}