@import 'colors';

$mainBackgroundColor: var(--background-color);
$textColor: var(--text-color);
$secondaryText: var(--secondary-text-color);
$surfaceBg: var(--surface-bg-color);
$scrollbarTrackColor: var(--scrollbar-track-color);
$scrollbarThumbColor: var(--scrollbar-thumb-color);
$scrollbarThumbHoverColor: var(--scrollbar-thumb-hover-color);
$toggleBg: var(--toggle-bg-color);
$borderColor: var(--carousel-border);
$boxShadowColor: var(--carousel-box);
$toggleBorder: var(--toggle-border);
$sectionBg: var(--section-bg-color);
$navLink: var(--nav-link);
$navActiveLink: var(--nav-active-link);
$navBrand: var(--nav-brand);
$carouselBg: var(--carousel-bg);

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #{$lightThemeBg};
    --text-color: #{$lightText};
    --secondary-text-color: #{$secondaryLightText};
    --surface-bg-color: #{$lightSurfaceBg};
    --scrollbar-track-color: #{$lightScrollbarTrack};
    --scrollbar-thumb-color: #{$lightScrollbarThumb};
    --scrollbar-thumb-hover-color: #{$lightScrollbarThumbHover};
    --carousel-box: #{$lightBoxShadow};
    --carousel-border: #{$lightBorder};
    --section-bg-color: #{$lightSectionBg};
    --toggle-border: #{$lightToggleBorder};
    --toggle-bg-color: #{$lightToggleBg};
    --nav-link: #{$lightNavLink};
    --nav-active-link: #{$lightActiveNavLink};
    --nav-brand: #{$lightNavbarBrand};
    --carousel-bg: #{$lightCarouselBg};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$darkThemeBg};
    --text-color: #{$darkText};
    --secondary-text-color: #{$secondaryDarkText};
    --surface-bg-color: #{$darkSurfaceBg};
    --scrollbar-track-color: #{$darkScrollbarTrack};
    --scrollbar-thumb-color: #{$darkScrollbarThumb};
    --scrollbar-thumb-hover-color: #{$darkScrollbarThumbHover};
    --carousel-box: #{$darkBoxShadow};
    --carousel-border: #{$darkBorder};
    --section-bg-color: #{$darkSectionBg};
    --toggle-border: #{$darkToggleBorder};
    --toggle-bg-color: #{$darkToggleBg};
    --nav-link: #{$darkNavLink};
    --nav-active-link: #{$darkActiveNavLink};
    --nav-brand: #{$darkNavbarBrand};
    --carousel-bg: #{$darkCarouselBg};
  }
}
