@import 'colors';

.brand-img {
  img {
    max-height: 390px;
    max-width: 390px;
    object-fit: contain;
    // margin: auto 25%;
  }
}

.brand-carousel {
  padding: 0 95px;
  height: 460px; // 440px
  max-width: 1000px;
  margin: auto auto;

  .brands-scrollable {
    height: 360px;
    overflow-y: auto;
  }

  .side-note {
    font-size: small;
    font-style: italic;
    display: inline;
    color: $gray-text;
  }

  .scrollable ul {
    max-height: 108px;
  }

  .img-attr {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;

    * {
      margin: 3px;
    }

    img {
      height: 17px;
      width: 17px;
    }

    p {
      font-size: small;
      color: $gray-text;
    }
  }
}

.accordion {
  margin: 20px auto;
  max-width: 1100px;
}

.accordion-header {
  margin: 10px;
}

// .accordion-button {
//   text-transform: capitalize;
// }

.popover-body {
  background-color: #e5effc;
  margin: 10px;
  border-radius: 5px;
  color: $gray-text;
  font-size: smaller;

  a {
    color: $bootstrap-blue;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .brand-img {
    img {
      max-height: 300px;
      max-width: 300px;
    }
  }

  .brand-carousel {
    padding: 0 20px;
  }
}
