@import 'colors';

.brand-img {
  img {
    height: 400px;
    width: 400px;
    object-fit: fill;
    // margin: auto 25%;
  }
}


.brand-carousel {
  padding: 0 95px;
  height: 440px;
  max-width: 1000px;
  margin: auto auto;

  .brands-scrollable {
    height: 360px;
    overflow-y: auto;
  }
}

.accordion {
  margin: 20px auto;
  max-width: 1100px;
}

.accordion-header {
  margin: 10px;
}

.accordion-button {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .brand-carousel {
    padding: 0 20px;
  }
}