@import 'colors';
@import 'default.styles';

.brand-img {
  img {
    max-height: 390px;
    max-width: 390px;
    object-fit: contain;
  }
}

.brand-carousel {
  padding: 0 95px;
  height: 460px; // 440px
  max-width: 1000px;
  margin: auto auto;

  .brands-scrollable {
    height: 360px;
    overflow-y: auto;
  }

  .side-note {
    @include side-note;
  }

  .scrollable ul {
    max-height: 108px;
  }

  .img-attr {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px auto; // 5px
    width: 3rem;

    * {
      margin: 3px;
    }

    img {
      height: 17px;
      width: 17px;
    }

    p {
      font-size: small;
      color: $gray-text;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    visibility: visible;
  }
}

.company {
  .form-check-label {
    margin: 0 $margin;
  }
}

.accordion {
  margin: 20px auto; // 20px auto
  max-width: 1100px;
}

.accordion-header {
  margin: $margin;
}

.popover-body {
  background-color: #e5effc;
  margin: 10px;
  border-radius: 5px;
  color: $gray-text;
  font-size: smaller;

  a {
    color: $bootstrap-blue;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .accordion-item {
    border-radius: 0 !important;

    .row>* {
      padding-left: 0rem; // 0.3rem
      padding-right: 0rem; // 0.3rem
    }
  }

  .brand-img {
    img {
      max-height: 300px;
      max-width: 300px;
    }
  }

  .brand-carousel {
    padding: 0 20px;

    h3 {
      text-align: center;
    }

    .pros-and-cons {
      text-align: center;
    }
  }
}
