@import 'colors';
@import 'theme';
@import 'default.styles';

.brand-img {
  img {
    max-height: 390px;
    max-width: 390px;
    object-fit: contain;
  }
}

.brand-carousel {
  color: $secondaryText;
  padding: 0 95px;
  height: 460px; // 440px
  max-width: 1000px;
  margin: auto auto;

  .brands-scrollable {
    height: 360px;
    overflow-y: auto;
  }

  .side-note {
    @include side-note;
  }

  .scrollable,
  .surface__header h4 {
    padding: 0 10px;
  }

  .scrollable ul {
    max-height: 108px;
  }

  .img-attr {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px auto; // 5px
    width: 3rem;

    * {
      margin: 3px;
    }

    img {
      height: 17px;
      width: 17px;
    }

    p {
      font-size: small;
      color: $gray-text;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    visibility: visible;
  }
}

.company {
  color: $secondaryText;

  .list-group-item {
    background-color: $mainBackgroundColor;
    color: $secondaryText;
    border-color: $secondaryBorder;
  }

  .form-check-label {
    margin: 0 $margin;
  }

  .accordion-body {
    color: $secondaryText;
  }

  .accordion-button {
    background-color: $mainBackgroundColor;
    color: $secondaryText;


    @media (prefers-color-scheme: dark) {
      &::after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236ea8fe' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
      }

      &:not(.collapsed) {
        box-shadow: 0 0px 1px $boxShadowColor;
      }
    }
  }
}

.accordion {
  margin: 20px auto;
  max-width: 1100px;
}

.accordion-header {
  margin: $margin;
  background-color: $mainBackgroundColor;
}

.accordion-item {
  background-color: $mainBackgroundColor;

  @media (prefers-color-scheme: dark) {
    border-color: $borderColor;
  }
}

.popover {
  background-color: $mainBackgroundColor;
  border-color: $secondaryBorder;
}

@media (prefers-color-scheme: dark) {

  .popover-arrow::after,
  .popover-arrow::before {
    border-top-color: $mainBackgroundColor !important;
  }
}

.popover-body {
  background-color: $popover;
  margin: 10px;
  border-radius: 5px;
  color: $gray-text;
  font-size: smaller;

  a {
    color: $bootstrap-blue;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .accordion-item {
    border-radius: 0 !important;

    .row>* {
      padding-left: 0rem; // 0.3rem
      padding-right: 0rem; // 0.3rem
    }
  }

  .brand-img {
    img {
      max-height: 300px;
      max-width: 300px;
    }
  }

  .brand-carousel {
    padding: 0 20px;

    h3 {
      text-align: center;
    }

    .pc__section {
      text-align: center;
    }
  }
}