@import 'colors';
// Scroll animation code from https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
$scrollAnimation: calc(var(--scroll) * -1s);

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3Vwd2s2MjE5MDU2Mi13aWtpbWVkaWEtaW1hZ2Uta3A2YTU1ZzkuanBn.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: $theme-blue;
  margin: 0;
}

// scroll animation below source: https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
#hero-1 {
  left: 50%;
  top: 40%;

  & h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: $yellow;
    animation: reduce 0.1s ease-out;
    animation-play-state: paused;
    animation-delay: $scrollAnimation;
    animation-fill-mode: forwards;
  }
}

#hero-2 {
  font-style: italic;
}

// Customs for big screens (laptops)
@media screen and (min-width: 641px) {
  #hero-2 {
    left: 40%;
    top: 65%;
    animation: slideIn 0.2s ease-out 0s 1;
    animation-play-state: paused;
    animation-delay: $scrollAnimation;
    animation-fill-mode: both;
  }
}

// Makes the hero text smaller and centers it on smaller screens
@media screen and (max-width: 640px) {
  .hero-image {
    background-position: 0 50%;
  }

  #hero-1 h1 {
    font-size: 4rem;
  }

  #hero-2 {
    // position: relative;
    transform: none;
    animation: none;
  }

  #hero-2 h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}

// Makes the header text slide in from the left on page load.
// Source: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

// Makes the title get bigger as the page scrolls
@keyframes reduce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}