@import "colors";
@import "phone.colors";

ul {
  padding: 0;
}

.mini-carousel {
  background-size: 100% 100%;
  padding: 0 25px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  -webkit-box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  height: 430px; // 415px
  max-width: 369px;
  font-size: 1rem;

  & h2,
  & h5 {
    padding: 10px;
  }

  & h3 {
    margin-top: 20px;
  }

  & h5 {
    color: $theme-blue;
    font-size: 1rem;
    // font-style: italic;
  }

  & .img-container {
    background-color: $very-light-gray;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: auto auto;
  }

  & img {
    height: 192px;
    width: 180px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
  }

  .cameras-slide p,
  .phone-specs-slide p,
  .prices-slide p,
  .display p {
    color: $bootstrap-blue;
  }

  & span {
    font-weight: 600;
    color: black;
  }

  .display p {
    padding: 0 10px;
  }
}

.phone-title {
  margin: 5px auto;
  width: fit-content;
}

hr {
  margin: 0.5rem 20px;
}

h6 {
  margin-top: 15px;
}

p {
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2rem;
  margin-top: 5px;
}

.display,
.colors,
.cameras,
.prices {
  background-color: $very-light-gray;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}

.colors {
  padding-bottom: 10px;

  & ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
  }

  & .phone-color li {
    text-align: left;
  }
}

// The individual colors each phone model comes in displayed
.color {
  padding: 10px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.phone-color {
  display: flex;
  align-items: center;

  & * {
    margin-right: 10px;
  }
}

.phone-specs-slide {
  .scrollable {
    max-height: 322px;
  }
}

.features-slide,
.camera-features {
  padding: 0 5px;

  & section {
    margin-bottom: 0;
  }

  & .scrollable ul {
    text-align: left;
    padding: 0 25px;
    max-height: 280px;
    margin-bottom: 10px;
  }

  li {
    padding: 4px;
    list-style-type: none;
  }
}

.scrollable {
  // max-height: 97px; // 100
  overflow-y: auto;
}

.camera-features,
.camera-pros-cons {
  section {
    margin-bottom: 10px;
  }

  span {
    display: block;
  }

  ul {
    padding-left: 25px;
  }

  li,
  span {
    text-align: left;
  }
}

.scrollable-long {
  overflow-y: auto;
}

.camera-pros-cons {
  ul {
    font-size: 0.9rem;
  }

  .scrollable ul {
    max-height: 90px;
  }

  .scrollable-long ul {
    // overflow-y: auto;
    max-height: 240px;
  }
}

.pros-and-cons-bubble {
  margin-bottom: 10px;
  background-color: $very-light-gray;
  border-radius: 10px;
  padding: 5px;
}

.pros-and-cons {
  display: flex;
  flex-direction: column;

  .scrollable ul {
    max-height: 97px;
  }

  span {
    display: block;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  li {
    text-align: left;
  }
}

.bubble-header {
  position: relative;

  .expand-btn-container {
    visibility: hidden;

    .expand-btn {
      display: flex;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      margin: 1px;
      margin-right: 5px;
      min-height: 20px;
      min-width: 20px;
      z-index: 4;
    }
  }
}


.approbations {
  height: 300px;
  margin: 0 15px;
  overflow-y: auto;
  border-radius: 15px;

  & ul {
    margin-bottom: 0;
    padding: 10px;
    list-style-type: none;

    & li {
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 10px;
      border: 1px dotted $theme-blue;
      background-color: $very-light-gray;
    }
  }
}

.prices p {
  margin: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 90px;
  margin: auto;
  visibility: hidden;
}

// Displays carousel controls when you hover over or touch (touchscreen) a carousel
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  visibility: visible;
}