@import 'colors';
@import 'phone.colors';
// @import 'reset';

ul {
  padding: 0;
}

.carousel {
  background-size: 100% 100%;
  // border: 3px groove (rgba(0, 0, 0, 0.6));
  padding: 0 25px;
  border-radius: 20px;
  /* opacity: 0.8; */
  /* font-family: "Gill Sans MT", sans-serif; */
  /* color: black; */
  text-align: center;
  // text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  // box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
  // -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  height: 420px; /* height: 415px; */
  max-width: 369px;
  font-size: 1rem;

  & h2,
  & h5 {
    padding: 10px;
  }

  & h3 {
    // color: $theme-blue;
    margin-top: 20px;
  }

  & h5 {
    color: $theme-blue;
    font-size: 1rem;
    // font-style: italic;
  }

  & .img-container {
    // background-color: #f0f0f0;
    background-color: $very-light-gray;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: auto auto;
  }

  & img {
    height: 192px;
    width: 180px;
    // border-radius: 20px;
    // background-color: #f0f0f0;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
  }

  & .cameras-slide p,
  & .phone-specs-slide p {
    color: $bootstrap-blue;
  }

  & span {
    font-weight: 600;
    color: black;
  }
}

hr {
  margin: 0.5rem 20px;
}

h6 {
  margin-top: 15px;
}

// @media screen and (max-width: 640px) {
//   .carousel {
//     min-width: 320px;
//     max-width: 320px;
//   }
// }

p {
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2rem;
  margin-top: 5px;
}

// .display, 
// .colors {
//   border: 1px dotted $theme-blue;
//   padding: 5px;
//   margin: 5px;
//   border-radius: 10px;
// }

.display,
.colors,
.cameras {
  background-color: $very-light-gray;
  padding: 5px;
  border-radius: 10px;
  // border: 1px dotted $theme-blue;
  margin: 5px 10px;
}

.colors {
  padding-bottom: 10px;
  // height: 200px;
  // overflow-y: auto;

  & ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
  }

  & .phone-color li {
    text-align: left;
  }
}

.color {
  padding: 10px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.phone-color {
 display: flex;
//  justify-content: center;
 align-items: center;

 & * {
  margin-right: 10px;
 }
}

.approbations {
  height: 300px;
  // padding: 10px 2px;
  margin: 0 15px;
  overflow-y: auto;
  // background-color: $very-light-gray;
  border-radius: 15px;

  & ul {
    // text-align: left;
    margin-bottom: 0;
    // padding-left: 20px;
    padding: 10px;
    list-style-type: none;
  
    & li {
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 10px;
      border: 1px dotted $theme-blue;
      background-color: $very-light-gray;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  // height: fit-content;
  height: 100px;
  margin: auto;
  visibility: hidden;
}

.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  visibility: visible;
}
