@import "colors";

.wide-phone-carousel {
  border-bottom: 2px solid black;
}

.wide-phone-carousel .img-container,
.wide-carousel {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  -webkit-box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.img-container {
  display: flex;
  align-items: center;

  & .img {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
}

.wide-carousel {
  width: 100%;
  height: 455px; // 450px, 440px

  h2 {
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.2rem;
  }

  h3,
  h5,
  h6 {
    text-align: center;
  }

  h5 {
    color: $theme-blue;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  span {
    font-weight: 500;
    color: black;
  }

  .phone-colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 85%;
  }

  #colors-title {
    margin-right: 7px;
    font-weight: 600;
  }

  .color {
    padding: 10px;
    margin: 0 20px 10px 7px;
  }

  .prices {
    max-width: 260px;
    text-align: center;
    margin: auto auto;
    font-weight: 400;
    font-size: 13px;

    p {
      color: $bootstrap-blue;
    }
  }

  .phone-specs-slide {
    text-align: center;
    padding: 0 84px;
  }

  .phone-specs-slide p {
    margin: 0;
  }

  .features-slide,
  .camera-features {
    .scrollable ul {
      max-height: 285px;
    }
  }

  .foldable {
    font-weight: 400;
  }

  .slide {
    padding: 0 64px;
  }

  .cameras-slide {
    text-align: center;
  }

  .phone-specs-slide p,
  .cameras-slide p {
    color: $bootstrap-blue;
  }

  .pros-and-cons-bubble {
    padding: 10px 20px;
  }

  .pros-and-cons-bubble h4 {
    text-align: center;
    margin-top: 0;
  }

  .pros-and-cons-bubble .scrollable ul {
    max-height: 100px; // 105px
  }
}

@media screen and (max-width: 900px) {
  .wide-carousel .slide {
    padding: 0 20px;
  }

  .mobile-scrollable {
    height: 315px;
    overflow-y: auto;
  }

  .mobile-color-scrollable {
    height: 200px;
    overflow-y: auto;
  }
}
