.sunset-red {
  background-color: #ae4244; // #983a3b;
}

.starry-blue {
  background-color: #6c859c; // #657380;
}

.moonlight-white {
  background-color: #dcd8d0; // #c3c0b9;
}

.zenfone-midnight-black {
  background-color: #222222; // #292929;
}
