.titanium-violet {
  background-color: rgb(77, 78, 95);
}

.titanium-gray-2024 {
  background-color: rgb(172, 164, 155);
}

.titanium-yellow {
  background-color: rgb(240, 225, 185);
}

.titanium-black {
  background-color: rgb(98, 96, 95);
}

.titanium-orange {
  background-color: rgb(196, 139, 108);
}

.titanium-green {
  background-color: rgb(194, 205, 186);
}

.titanium-blue {
  background-color: rgb(167, 181, 200);
}

.jade-green {
  background-color: rgb(194, 205, 186);
}

.sapphire-blue {
  background-color: rgb(167, 181, 200);
}

.sandstone-orange {
  background-color: rgb(196, 139, 108);
}

.onyx-black {
  background-color: rgb(74, 74, 77);
}

.marble-gray {
  background-color: rgb(197, 195, 195);
}

.cobalt-violet {
  background-color: rgb(82, 86, 109);
}

.amber-yellow {
  background-color: rgb(241, 234, 212);
}

.samsung-graphite-2023 {
  background-color: rgb(83, 86, 90);
}

.samsung-cream-2023 {
  background-color: rgb(240, 234, 224);
}

.samsung-mint {
  background-color: rgb(202, 217, 211);
}

.samsung-purple {
  background-color: rgb(181, 99, 159);
}

.samsung-indigo {
  background-color: #859aaf;
}

.tangerine {
  background-color: #be814a;
}

.phantom-black {
  background-color: rgb(33, 30, 22);
}

.phantom-white {
  background-color: rgb(233, 233, 231);
}

.phantom-gray {
  background-color: #45464B;
}

.phantom-pink {
  background-color: #EDC0BB;
}

.phantom-gold {
  background-color: rgb(246, 216, 193);
}

.phantom-violet {
  background-color: #9793B6;
}

.phantom-silver {
  background-color: #c2c9d5;
}

.phantom-red {
  background-color: rgb(171, 39, 52);
}

.phantom-brown {
  background-color: #5f4e4b;
}

.phantom-titanium {
  background-color: #6e7074;
}

.phantom-navy {
  background-color: #3a414a;
}

.samsung-red {
  background-color: #BD503B;
}

.burgundy {
  background-color: rgb(101, 77, 87);
}

.bora-purple {
  background-color: rgb(178, 161, 205);
}

.sky-blue {
  background-color: #CBDFF8;
}

.pink-gold {
  background-color: rgb(241, 207, 196);
}

.samsung-green {
  background-color: rgb(95, 100, 90);
}

.samsung-graphite {
  background-color: rgb(110, 112, 116);
}

.cream {
  background-color: rgb(239, 230, 197);
}

.samsung-violet {
  background-color: #E3DAED;
}

.olive {
  background-color: #B6B69C;
}

.samsung-lavender {
  background-color: #C1B8C9;
}

.samsung-white {
  background-color: #F4F4F4;
}

.cosmic-gray {
  background-color: #5e6366;
}

.cosmic-black {
  background-color: #2d2926;
}

.cosmic-white {
  background-color: #fbfaf8;
}

.cloud-navy {
  background-color: #485167;
}

.cloud-mint {
  background-color: #b6cfcf;
}

.cloud-lavender {
  background-color: #dfcce7;
}

.cloud-red {
  background-color: #b73438;
}

.cloud-orange {
  background-color: #f4c19b;
}

.cloud-blue {
  background-color: #a4c8e1;
}

.cloud-pink {
  background-color: #dbabba;
}

.cloud-white {
  background-color: #f0f0f1;
}

.aura-blue {
  background-color: #03257e;
}

.prism-black {
  background-color: #0E0E0E;
}

.prism-blue {
  background-color: #446F9A;
}

.prism-green {
  background-color: #417277;
}

.prism-white {
  background-color: #D1DBE4;
}

.flamingo-pink {
  background-color: #FF806D;
}

.ceramic-black {
  background-color: #231F1E;
}

.ceramic-white {
  background-color: #E9E5E4;
}

.canary-yellow {
  background-color: #E6E026;
}

.midnight-black {
  background-color: #010101;
}

.coral-blue {
  background-color: #64728F;
}

.polaris-blue {
  background-color: #678ea7;
}

.sunrise-gold {
  background-color: #CCA28C;
}

.lilac-purple {
  background-color: #9D789A;
}

.burgundy-red {
  background-color: #450C15;
}

.titanium-grey {
  background-color: #52514F;
}

.mystic-black {
  background-color: #1f1f1f;
}

.mystic-white {
  background-color: #f0f0f0;
}

.mystic-bronze {
  background-color: #b48882;
}

.mystic-gray {
  background-color: #575757;
}

.mystic-green {
  background-color: #8eaf9c;
}

.aura-white {
  background-color: #eeefe9;
}

.aura-black {
  background-color: #0f1110;
}

.aura-glow {
  background-color: #9187c3;
}

.aura-red {
  background-color: #da222a;
}

.aura-pink {
  background-color: #c15a5d;
}

.ocean-blue {
  background-color: #6576a1;
}

.cloud-silver {
  background-color: #c3cbce;
}

.graygreen {
  background-color: rgb(78, 90, 97);
}

.beige {
  background-color: rgb(214, 205, 193);
}

.samsung-blue {
  background-color: rgb(111, 138, 173);
}

.icy-blue {
  background-color: rgb(166, 175, 194);
}

.samsung-gray {
  background-color: rgb(199, 200, 202);
}

.lime {
  background-color: rgb(220, 233, 190);
}

.lavender-purple {
  background-color: #c69eba;
}

.metallic-copper {
  background-color: #be816c;
}