.apple-15-black {
  background-color: #35393B;
}

.apple-black {
  background-color: #322F38;
}

.apple-blue {
  background-color: #276787;
}

.black-titanium {
  background-color: #1b1b1b;
}

.blue-titanium {
  background-color: #2f4452;
}

.apple-cloud-white {
  background-color: #fcfcfc;
}

.cosmic-orange {
  background-color: #F77E2D;
}

.deep-blue {
  background-color: #32374a;
}

.deep-purple {
  background-color: #594f63;
}

.desert-titanium {
  background-color: #c4ab97;
}

.gold {
  background-color: #fae7cf;
}

.apple-graphite {
  background-color: #54524f;
}

.apple-15-green {
  background-color: #CAD4C5;
}

.apple-green {
  background-color: #394c38;
}

.apple-lavender {
  background-color: #DFCEEA;
}

.apple-light-blue {
  background-color: #CED5D9;
}

.light-gold {
  background-color: #fffcf5;
}

.apple-light-green {
  background-color: #DAF0D9;
}

.apple-light-pink {
  background-color: #E3C8CA;
}

.apple-light-yellow {
  background-color: #E6E0C1;
}

.mist-blue {
  background-color: #96aed1;
}

.midnight {
  background-color: #232a31;
}

.natural-titanium {
  background-color: #837f7d;
}

.natural-titanium-16 {
  background-color: #c8c1b7;
}

.pacific-blue {
  background-color: #385865;
}

.apple-16-pink {
  background-color: #f2b4dd;
}

.apple-pink {
  background-color: #faddd7;
}

.product-red {
  background-color: #bf0013;
}

.apple-purple {
  background-color: #BBB2E7;
}

.apple-sage {
  background-color: #a9b689;
}

.silver {
  background-color: #f1f2ed;
}

.apple-sky-blue {
  background-color: #f0f9ff;
}

.space-black {
  background-color: #403e3d;
}

.space-gray {
  background-color: #64656a;
}

.starlight {
  background-color: #faf6f2;
}

.apple-teal {
  background-color: #b7d7d6;
}

.ultramarine {
  background-color: #a1b4f8;
}

.apple-17-white {
  background-color: #f5f5f5;
}

.apple-16-white {
  background-color: #fafafa;
}

.apple-white {
  background-color: #F7F3F0;
}

.white-titanium {
  background-color: #dddddd;
}

.white-titanium-16 {
  background-color: #f2f1ed;
}

.apple-yellow {
  background-color: #FFE681;
}