.silver {
  background-color: #f1f2ed;
}

.gold {
  background-color: #fae7cf;
}

.apple-graphite {
  background-color: #54524f;
}

.apple-black {
  background-color: #322F38;
}

.apple-white {
  background-color: #F7F3F0;
}

.apple-green {
  background-color: #394c38;
}

.apple-light-green {
  background-color: #DAF0D9;
}

.apple-pink {
  background-color: #faddd7;
}

.apple-blue {
  background-color: #276787;
}

.apple-purple {
  background-color: #BBB2E7;
}

.apple-yellow {
  background-color: #FFE681;
}

.midnight {
  background-color: #232a31;
}

.starlight {
  background-color: #faf6f2;
}

.product-red {
  background-color: #bf0013;
}

.pacific-blue {
  background-color: #385865;
}

.deep-purple {
  background-color: #594f63;
}

.space-black {
  background-color: #403e3d;
}

.natural-titanium {
  background-color: #837f7d;
}

.blue-titanium {
  background-color: #2f4452;
}

.white-titanium {
  background-color: #dddddd;
}

.black-titanium {
  background-color: #1b1b1b;
}

.apple-light-pink {
  background-color: #E3C8CA;
}

.apple-light-yellow {
  background-color: #E6E0C1;
}

.apple-15-green {
  background-color: #CAD4C5;
}

.apple-light-blue {
  background-color: #CED5D9;
}

.apple-15-black {
  background-color: #35393B;
}

.space-gray {
  background-color: #64656a;
}