.beach-sand {
  background-color: #C4BEB3;
}

.blush-gold {
  background-color: #966e62;
}

.hot-pink {
  background-color: #d74b85;
}

.koala-grey {
  background-color: #666D72;
}

.liquid-mercury {
  background-color: #919296;
}

.midnight-blue {
  background-color: #282d3c;
}

.noir-black {
  background-color: #0d0d0d;
}

.peach-fuzz {
  background-color: #ffbe98;
}

.polished-graphite {
  background-color: #2b2c31;
}

.spring-green {
  background-color: #647755;
}

.spirtz-orange {
  background-color: #D07158;
}
