.beach-sand {
  background-color: #C4BEB3;
}

.blush-gold {
  background-color: #966e62;
}

.hot-pink {
  background-color: #d74b85;
}

.koala-grey {
  background-color: #666D72;
}

.leaf-green {
  background-color: rgb(77, 118, 83);
}

.liquid-mercury {
  background-color: #919296;
}

.midnight-blue {
  background-color: #282d3c;
}

.noir-black {
  background-color: #0d0d0d;
}

.pantone-cabaret {
  background-color: #cb3373;
}

.pantone-mountain-trail {
  background-color: #8d7c70;
}

.pantone-rio-red {
  background-color: #8a2232;
}

.pantone-scarab {
  background-color: #3b4443;
}

.peach-fuzz {
  background-color: #ffbe98;
}

.polished-graphite {
  background-color: #2b2c31;
}

.slate-gray {
  background-color: rgb(98, 102, 119);
}

.spring-green {
  background-color: #647755;
}

.spritz-orange {
  background-color: #D07158;
}