.nothing-black {
  background-color: #303136;
}

.nothing-blue {
  background-color: #18304c;
}

.nothing-blue-3a {
  background-color: #005b88;
}

.nothing-dark-grey {
  background-color: #47484d;
}

.nothing-milk {
  background-color: #e6e3e4;
}

.nothing-white {
  background-color: #eaeceb;
}