.silky-black {
  background-color: #2a2b2f;
}

.flowy-emerald {
  background-color: #597976;
}

.emerald-dusk {
  background-color: #6e8175;
}

.voyager-black {
  background-color: #292929;
}

.titan-black {
  background-color: #303136;
}

.eternal-green {
  background-color: #75897e;
}

.volcanic-black {
  background-color: #3c3b40;
}

.emerald-forest {
  background-color: #80a49a;
}

.moonstone-black {
  background-color: #313237;
}

.jade-green {
  background-color: #cfe0d7;
}

.pine-green {
  background-color: #5b716e;
}

.morning-mist {
  background-color: #dedede;
}

.astral-black {
  background-color: #212227;
}

.winter-mist {
  background-color: #ded4ef;
}

.almond {
  background-color: #e8d2bb;
}

.interstellar-glow {
  background-image: linear-gradient(-135deg, #c1acfe, #f6c6e1 25%, #ffdfe8 50%, #fdceee 75%, #babdff);
}

.onyx-black {
  background-image: linear-gradient(-135deg, #474a50, #1d232e, #0b111d);
}

.ultramarine-blue {
  background-image: linear-gradient(-135deg, #69a1ff, #0b55fd, #32089e, #010535);
}

.glacial-green {
  background-image: linear-gradient(-135deg, #a9e2d7, #3c9184);
}

.lunar-silver {
  background-color: #c7c9d5;
}

.aquamarine-green {
  background-color: #6bd7c7;
}

.frosted-silver {
  background-color: #6b6a70;
}

.glacier-blue {
  background-color: #4e7a97;
}

.mirror-grey {
  background-color: #18171c;
}

.nebula-blue {
  background-color: #113c5f;
}

.papaya-orange {
  background-color: #131217;
}

.haze-blue {
  background-color: #144065;
}

.mirror-black {
  background-color: #080808;
}

.thunder-purple {
  background-color: #a076c0;
}

.silk-white {
  background-color: #dcdcdc;
}

.oneplus-red {
  background-color: #a10103;
}