.aloe {
  background-color: #AEFDC0;
}

.alpine-green {
  background-color: #576856;
}

.barely-blue {
  background-color: #D1E6F9;
}

.bay {
  background-color: #a7d1fa;
}

.chalk {
  background-color: #CCCCCC;
}

.charcoal-6a {
  background-color: #4E4F51;
}

.charcoal-7a {
  background-color: #5D5C5E;
}

.clearly-white {
  background-color: #ECEDF1;
}

.cloudy-white {
  background-color: #E1D6CC;
}

.coral {
  background-color: #FE8471;
}

.hazel {
  background-color: #898c8a;
}

.hazel-9 {
  background-color: #949997;
}

.just-black {
  background-color: #333534;
}

.kinda-coral {
  background-color: #FDB3AF;
}

.lemongrass {
  background-color: #f5fce4;
}

.mostly-black {
  background-color: #303A39;
}

.not-pink {
  background-color: #EFE4E0;
}

.obsidian {
  background-color: #252525;
}

.oh-so-orange {
  background-color: #E17B65;
}

.peony {
  background-color: #ef89a1;
}

.porcelain {
  background-color: #e2dad1;
}

.purple-ish {
  background-color: #DBDEEF;
}

.rose {
  background-color: #f1ddd2;
}

.rose-quartz {
  background-color: #f4ddec;
}

.sage {
  background-color: #9FBCA6;
}

.sea {
  background-color: #E0EFF9;
}

.sierra-blue {
  background-color: #a7c1d9;
}

.snow {
  background-color: #dadce0;
}

.sorta-sage {
  background-color: #9DB2AB;
}

.sorta-seafoam {
  background-color: #CCE0DE;
}

.sorta-sunny {
  background-color: #FFD6AD;
}

.stormy-black {
  background-color: #3c4043;
}

.wintergreen {
  background-color: #d7ead7;
}
