@import '../../styles/colors';
@import '../../styles/theme';

.footer {
  background-color: $surfaceBg;
  color: $footerText;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 5px;

  p {
    margin-bottom: 0;

    a {
      text-decoration: underline;
      opacity: 1;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      font-weight: 500;
    }
  }
}

.footer * {
  opacity: 0.75;
}
