@import '../../../styles/colors';
@import '../../../styles/theme';
@import '../../../styles/default.styles';
@import '../../../styles/mixins';

.cameras-modal {
  $boldFont: 500;
  $regularFont: 400;
  max-width: 700px;
  background-color: $mainBackgroundColor;
  border-radius: 0.5rem;
  min-height: fit-content;

  .item-title {
    color: $secondaryText;
    font-weight: $boldFont;
  }

  .list-group-item {
    background-color: $mainBackgroundColor;
  }

  @include cameraData;

  .camera-modal__container {
    overflow-y: auto;
    max-height: 75vh;
  }
}