@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/default.styles';

.compare {
  .compare__wrapper {
    min-height: 100vh;

    h1 {
      text-align: center;
    }

    .compare-header {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &>* {
        margin: 0 5px;
      }

      .selected-phone-title-text {
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .radio-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .accordion-body {
      padding: 0;
      padding-top: 10px;
      color: $textColor;
    }

    .accordion-button {
      background-color: $mainBackgroundColor;
      color: $textColor;

      @media (prefers-color-scheme: dark) {
        &::after {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236ea8fe' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
        }
      }
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
      border-radius: $borderRadiusSmall;
    }

    .accordion-header {
      color: $bootstrap-blue;
      font-weight: 500;
      @include largeText;
    }

    .groups {
      margin: 10px;

      .accordion-body {
        padding-top: 0;
      }

      .accordion-button:not(.collapsed) {
        color: $secondaryText;
        border-radius: $borderRadiusSmall;
        background-color: $surfaceBg;
        box-shadow: none;
      }

      .form-select {
        margin-bottom: $margin;
        border-width: 0;
        background-color: $mainBackgroundColor;
        color: $textColor;
      }
    }

    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px;
      padding: 0;

      &>* {
        margin: 5px;
      }
    }

    .form-check-input {
      margin: 0;
    }
  }
}